@import 'src/assets/variables.scss';

.container {
  width: 750px;
  height: 750px;
  background-color: $blueLight;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 330px;
    height: 560px;
  }
}
