@import 'src/assets/variables.scss';

.content {
  width: 600px;
  height: 600px;
  background-color: $blue;
}

@media only screen and (max-width: 800px) {
  .content {
    width: 280px;
    height: 470px;
  }
}
